.notify {
    background: lightgrey;
    color: green;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    font-size: 20px;
    margin-bottom: 15px;
}

.error {
    background: lightgrey;
    color: red;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    font-size: 20px;
    margin-bottom: 15px;
}